* {
  box-sizing: border-box;
  margin: 0;
  font-size: 1vw;
  font-family: sans-serif;
  list-style-type: none;
}
.info_block{
  font-size: 11px;
  text-align: center;
  height: 20px;
}
a {
  text-decoration: none;
  color: black;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #ffe7c4;
 
}

.header {
  width: 100%;
  height: 10vh;
  border: 0px solid red;
  background: #EBD09F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  border: 0px solid purple;
}

#navigation {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  border: 0px solid black;
  
}

.navigation_item {
  height: 100%;
  width: 8vw;
  margin: 0 1vw;
  border: 0px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search_input {
  width: 100%;
}
#services_btn{
  width: 100%;
  height: 60%;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #ffe7c4);
}

#support_btn{
  width: 100%;
  height: 60%;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #ffe7c4);
}

#login_btn {
  width: 100%;
  height: 60%;
  border: none;
  border-radius: 10px;
  background: rgb(216, 172, 90);
}
#log_font{
  color: rgb(0, 0 ,0);
}

.right-container {
  float: right; /* Располагаем контейнер с изображением справа */
  width: 50%; /* Устанавливаем ширину контейнера, при необходимости измените значение */
}

.right-container img {
  margin-top: 30px;
  width: 95%; /* Изображение занимает всю ширину контейнера */
  height: auto; /* Сохраняем пропорции изображения */
  margin-top: 20px; /* Добавляем отступ сверху, при необходимости измените значение */
}


.categories {
  width: 100%;
  height: 10vh;
  border: 0px solid pink;
}

.categories_list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.categories_item {
  margin: 0 1vw;
  border: 0px solid red;
  height: 100%;
  width: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1vw;
}

.categories:hover {
  cursor: pointer;
}

.info {
  width: 100%;
  height: 80vh;
  border: 0px solid brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fag_block {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 5vh;
  border: 0px solid sandybrown;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
}

.info_blocks {
  width: 90%;
  height: 85%;
  border: 0px solid springgreen;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: #ff0101;
  margin-top: 340px;
}



.info_blockss {
  width: 90%;
  height: 85%;
  border: 0px solid springgreen;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: #ff0101;
  margin-top: 20px
}

.info_block {
  width: 150px;
  height: 190px;
  border: 0px solid #EBD09F;
  background:  #EBD09F;
  margin: 0 1vw;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(53, 53, 53, 0.5)
}

.extra_info_block {
  width: 34vw;
  width: 42vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 60px;
  background-color: #EBD09F;
  background:  #e6bb6c;
  color: #e6bb6c;
  font-size: 14px;
  border: 1px solid rgb(66, 66, 66);
  width: 100%;
  height: 10vh;
}

.footer .links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.name-gorod{
  font-size: large;
  }
.footer .location {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000000;
}
.footer .social {
  display: flex;
  gap: 20px;
}
.social:hover .img{
  transform: scale(1.1); /* Увеличение картинки при наведении */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.footer .social a {
  width: 40px;
  height: 40px;
  display: flex;
   justify-content: center; 
   align-items: center;
    background-color: #EBD09F; 
    border-radius: 50%; 
    text-decoration: none; 
    color: inherit;
}

.github{
  width: 40px;
  height: 40px;
  display: flex;
   justify-content: center; 
   align-items: center;
    background-color: rgb (36, 110, 48); 
    border-radius: 0%; 
    text-decoration: none; 
    color: inherit;
}


.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f8fafe;
  margin: 0; 
}


.scale {
  transition: 0.5s; 
 }
 .scale:hover {
  transform: scale(1.1); 
 }

 

.categories_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.categories_item {
  list-style: none;
  cursor: pointer;
}

.category_img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s;
}

.category_img:hover {
  transform: scale(1.05);
}
